server:
  port: 8888

resilience4j:
  retry:
    instances:
      super-adm-retry:
        maxAttempts: 5
        waitDuration: 5s
        retryExceptions:
          - org.springframework.dao.DataAccessException
      update-retry:
        maxAttempts: 4
        waitDuration: 5s
        retryExceptions:
          - org.springframework.dao.DataAccessException

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:4000/blog_db?allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
  argon:
    saltLength: 16
    hashLength: 32
    parallelism: 1
    memory: 65536
    iterations: 3
  application:
    name: writeapi
  front:
    url: http://localhost:3000
  security:
    exp:
      token: 24
      refresh: 444444
    jwt:
      secret: 5438y43v734vb7t40yt7y7rft47r7tv43htf3ht40f7t430ft0ft3t4fh94t3r3
snowflake:
  worker-id: 5
  datacenter-id: 1